<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ZHY Electronic Project</display-name>
  
  <servlet>
  <servlet-name>UserInfoServlet</servlet-name>
  <servlet-class>com.java.servlet.UserInfoServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>UserInfoServlet</servlet-name>
  <url-pattern>/UserInfoServlet</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
  <welcome-file>UserList.jsp</welcome-file>
  </welcome-file-list>
  
</web-app>